/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Universal section paddings */
.section {
  padding: 120px 0;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  padding: 24px 0;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  padding-right: 149px;
}

.logo-accent {
  content: 'Studio';
  color: #2e2f42;
  margin-left: 4px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms ease-in-out;
  padding-bottom: 24px 0;
  padding-right: 149px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  transition: color 250ms ease-in-out;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero Section */
.hero {
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 496px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features */
.features {
  padding: 120px 0;

}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: 262,6px;
  height: 125px;
  flex-basis: calc((100% - 72px) / 4);
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  color: #434455;
}

/* Team */
.team {
  background-color: #f4f4fd;
  width: 100%;
  height: 732px;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  overflow: hidden;
  text-align: center;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  color: #434455;
}

/* Portfolio  */
.portfolio {
  padding: 120px 0;
  background-color: #ffffff;
}

.portfolio-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
  justify-items: center; 
}
.portfolio-item {
  width: 360px;
  height: 420px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.portfolio-text {
  padding: 32px 16px;
  text-align: left;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 8px;
}

.portfolio-role {
  font-size: 16px;
  color: #434455;
  margin: 0;
}

 
/* Contacts (заглушка) 
.contacts-section {
  padding: 120px 0;
}

.contacts-title {
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
} 

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo::after {
  content: 'Studio';
  color: #f4f4fd;
  margin-left: 4px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  line-height: 1.5;
}
